<body class="body">
  
  <header>
    <h1 class="heading">SHOPPING CART</h1>
  </header>

  <section class="table__container">
    <table class="table">
      <tr>
        <th class="table__head">No</th>
        <th class="table__head">Product</th>
        <th class="table__head">Price</th>
      </tr>
      <tr 
        *ngFor="let product of products"
        class="{{(!product.isSelected) ? 'selected' : ''}}"
        (click)="selected(product.id - 1)">
        <td class="table__column--one">{{product.id}}</td>
        <td class="table__column--two">{{product.name}}</td>
        <td class="table__column--three">$ {{product.price}}.00</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="table__total">Total: $ {{total}}.00</td>
      </tr>
    </table>
  </section>

</body>